@font-face {
  font-family: 'Motion Picture';
  src: url('./fonts/motionpicture.ttf');
}
@font-face {
  font-family: 'Roboto Thin Italic';
  src: url('./fonts/Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('./fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('./fonts/Roboto-Bold.ttf');
}
